/* Horizontal Dashboard CSS */
.dashboard-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);  
  color: #fff;
  overflow: hidden; 
  position: relative;
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.dashboard-page {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
}

.dashboard-page.active {
  left: 0;
}

.dashboard-page.inactive {
  left: 200%;
}

.dashboard-page.slide-in {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
}

.dashboard-page.blur-background {
  background: black !important;
}

.dashboard-page.blur-background .page-icon {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

/* Page Backgrounds - ALL BLACK */
.dashboard-page:nth-child(1) { background: black; }
.dashboard-page:nth-child(2) { background: black; }
.dashboard-page:nth-child(3) { background: black; }
.dashboard-page:nth-child(4) { background: black; }
.dashboard-page:nth-child(5) { background: black; }

/* Navigation Menu */
.dashboard-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
  list-style: none;
}

.dashboard-nav-item {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  color: #fff;
  font-size: 32px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-nav-item:hover {
  opacity: 0.5;
}

.dashboard-nav.scaled .dashboard-nav-item {
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

.dashboard-nav-item.active-nav {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

/* Page Content */
.page-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  color: #fff;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page-icon.first-page {
  height: 220px;
  transform: translateX(10%) !important;
}

.page-icon.active-page {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}

.page-title {
  display: block;
  font-size: 38px;
  line-height: 2;
}

.page-hint {
  display: block;
  font-size: 13px;
}

.page-hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  text-decoration: none;
}

.page-hint a:hover {
  color: #FFF;
}
